@charset "ISO-8859-1";

body{
background-color:#f2f2f2;
}

input[type=text], input[type=email], input[type=number], input[type=select], input[type=date],input[type=select],input[type=password], input[type=tel]
{
    width:30%;
    padding: 12px;
    border: 1px solid rgb(168, 166, 166);
    border-radius: 4px;
    resize: horizontal;
}
label{
    padding: 12px 12px 12px 0;
    display: inline-block;
}
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float:left;
    margin-left: 30%;
}
input[type=submit]:hover {
background-color: #32a336;
}
h1{
	text-align: center;
	font-style: oblique;
	color: gray;
	text-decoration: underline;
}
.container-fluid
{
	margin:5px;
    border-radius: 5px;
    
    padding: 20px;
}
.col-30{
    float: left;
    width:20%;
    margin-top: 6px;
}
.col-80{
    float: left;
    width: 80%;
    margin-top: 6px;
}
.row:after{
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width: 600px) {
    .col-10,.col-90,input[type=submit]{
        width: 100%;
        margin-top: 0;
    }
}
#gg{
	width:90vh;
	height:50vh;
	margin-top:10ex;
}



